@mixin defaultRing() {
  @apply focus:outline-none;
  @apply focus:ring-2;
  @apply focus:ring-primary;
  @apply focus:ring-offset-1;
}

.btn {
  &:disabled {
    @apply opacity-60;
    cursor: not-allowed;
  }
  &--primary {
    @apply bg-primary-gradient text-white shadow-md;
    @apply focus:ring-2 focus:ring-primary focus:ring-offset-2;
    @apply hover:shadow-lg;
  }
  &--secondary {
    @apply bg-gray-100 text-gray-800 border;
    @apply focus:ring-2 focus:ring-primary focus:ring-offset-2;
    @apply hover:bg-gray-200;
  }
  &--warn {
    @apply bg-red-500 text-white border;
    @apply focus:ring-2 focus:ring-red-600 focus:ring-offset-2;
    @apply hover:bg-red-600;
  }
}

.default-ring {
  @include defaultRing();
}
