@mixin defaultRing() {
  @apply focus:outline-none;
  @apply focus:ring-2;
  @apply focus:ring-primary;
  @apply focus:ring-offset-1;
}

button {
  &.btn-primary:disabled {
    @apply bg-gray-300;
    cursor: not-allowed;
  }
}

.default-ring {
  @include defaultRing();
}