
.icon-xxs {
  width: 16px !important;
  height: 16px !important;
}

.icon-xs {
  width: 18px !important;
  height: 18px !important;
}
.icon-sm {
  width: 20px !important;
  height: 20px !important;
}
.icon-base {
  width: 24px !important;
  height: 24px !important;
}
.icon-md {
  width: 28px !important;
  height: 28px !important;
}
.icon-lg {
  width: 32px !important;
  height: 32px !important;
}