@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/animations/scale.css';
.tippy-box[data-theme~=light]{color:#26323d;background-color:#fff}.tippy-box[data-theme~=light][data-placement^=top]>.tippy-arrow:before{border-top-color:#fff}.tippy-box[data-theme~=light][data-placement^=bottom]>.tippy-arrow:before{border-bottom-color:#fff}.tippy-box[data-theme~=light][data-placement^=left]>.tippy-arrow:before{border-left-color:#fff}.tippy-box[data-theme~=light][data-placement^=right]>.tippy-arrow:before{border-right-color:#fff}.tippy-box[data-theme~=light]>.tippy-backdrop{background-color:#fff}.tippy-box[data-theme~=light]>.tippy-svg-arrow{fill:#fff}
.tippy-box{
  @apply rounded-md;
  @apply shadow-md;
  @apply border border-gray-100;
}

.tippy-box[role='dropdown'],
.tippy-box[role='menu'] {
  .tippy-content {
    padding: 6px;
  }
}

.dropdown-item {
  @apply px-4 py-2;
  @apply flex;
   @apply rounded-md;
  @apply space-x-2;
  @apply items-center;
  cursor: pointer;
  &:hover {
    @apply bg-gray-100;
  }
}