:root {
  --primary: hsl(160, 84%, 34%);
  --primary-dark: hsla(160, 84%, 28%);
  --primary-translucent: hsla(160, 84%, 34%, 0.2);
  --primary-disabled: hsl(150, 34%, 70%);
  --secondary: hsl(0, 0%, 88%);
  --secondary-dark: hsl(0, 0%, 82%);
  --secondary-disabled: hsl(0, 0%, 90%);
}
