@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import 'partials/colors';
@import 'partials/buttons';
@import 'partials/poppers';
@import 'partials/forms';
@import 'partials/select';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #F4F5F8;
  @apply text-gray-900;
}
