@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'partials/colors';
@import 'partials/buttons';
@import 'partials/dialog';
@import 'partials/scrollbar';
@import 'partials/poppers';
@import 'partials/forms';
@import 'partials/select';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  @apply text-gray-800;
}

:root {
  --header-height: 64px;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-placeholder:not(compito-task-list) {
  @apply shadow-xl rounded-md;
}

.task-list:hover:not(.cdk-drag-preview):not(.cdk-drag-dragging):not(.cdk-drop-list-dragging) {
  .list__drag {
    @apply opacity-100;
  }
}
