<main class="h-screen bg-white">
  <header class="flex items-center justify-between p-4 md:px-8">
    <img src="assets/images/logo-full.svg" alt="Compito Logo" width="120" />
    <nav>
      <ul class="flex items-center space-x-4 text-sm">
        <li>
          <a href="https://github.com/adisreyaj/compito" target="_blank" rel="noopener noreferrer"
             class="flex items-center px-2 py-1 space-x-2 bg-gray-100 rounded-md hover:text-primary">
            <rmx-icon class="icon-sm" name="github-line"></rmx-icon>
            <p>Github</p>
          </a>
        </li>
        <a href="https://twitter.com/AdiSreyaj" target="_blank" rel="noopener noreferrer"
           class="flex items-center px-2 py-1 space-x-2 bg-gray-100 rounded-md hover:text-primary">
          <rmx-icon class="icon-sm" name="twitter-line"></rmx-icon>
          <p>Twitter</p>
        </a>
      </ul>
    </nav>
  </header>

  <section class="text-gray-600 body-font">
    <div class="container flex flex-col items-center px-5 py-24 mx-auto md:flex-row">
      <div
           class="flex flex-col items-center mb-16 text-center lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 md:items-start md:text-left md:mb-0">
        <h1 class="mb-4 text-3xl font-medium text-gray-900 title-font sm:text-4xl">Compito
          <br class="hidden lg:inline-block">Tasks Done Right!
        </h1>
        <p class="leading-relaxed">Simple No BS project management application with a minimalist UI.</p>
        <ul class="pl-6 mt-4 list-disc">
          <li>Simple and User friendly</li>
          <li>Support for multiple Orgs</li>
          <li>Role based access control</li>
        </ul>
        <div class="flex justify-center mt-8 space-x-4">
          <button btn variant="primary" routerLink="/auth/signup">Create New Account</button>
          <button btn variant="secondary" routerLink="/auth/login">Login</button>
        </div>
      </div>
      <div class="w-5/6 lg:max-w-lg lg:w-full md:w-1/2">
        <img class="object-cover object-center rounded" alt="hero" src="assets/images/board.jpg">
      </div>
    </div>
  </section>
  <section class="text-gray-600 body-font">
    <div class="container px-5 pb-24 mx-auto">
      <div class="mb-20 text-center">
        <h1 class="mb-4 text-2xl font-medium text-center text-gray-900 sm:text-3xl title-font">Explore Features</h1>
        <p class="mx-auto text-base leading-relaxed xl:w-2/4 lg:w-3/4">A lot of cool features with a stress on
          minimalism</p>
      </div>
      <div class="flex flex-wrap -mx-2 lg:w-4/5 sm:mx-auto sm:mb-2">
        <div class="w-full p-2 sm:w-1/2">
          <div class="flex items-center h-full p-4 bg-gray-100 rounded">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                 class="flex-shrink-0 w-6 h-6 mr-4 text-indigo-500" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="font-medium title-font">Multiple Orgs</span>
          </div>
        </div>
        <div class="w-full p-2 sm:w-1/2">
          <div class="flex items-center h-full p-4 bg-gray-100 rounded">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                 class="flex-shrink-0 w-6 h-6 mr-4 text-indigo-500" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="font-medium title-font">Kanban Board</span>
          </div>
        </div>
        <div class="w-full p-2 sm:w-1/2">
          <div class="flex items-center h-full p-4 bg-gray-100 rounded">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                 class="flex-shrink-0 w-6 h-6 mr-4 text-indigo-500" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="font-medium title-font">Invite users</span>
          </div>
        </div>
        <div class="w-full p-2 sm:w-1/2">
          <div class="flex items-center h-full p-4 bg-gray-100 rounded">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                 class="flex-shrink-0 w-6 h-6 mr-4 text-indigo-500" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="font-medium title-font">Role based access</span>
          </div>
        </div>
        <div class="w-full p-2 sm:w-1/2">
          <div class="flex items-center h-full p-4 bg-gray-100 rounded">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                 class="flex-shrink-0 w-6 h-6 mr-4 text-indigo-500" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="font-medium title-font">Attachments</span>
          </div>
        </div>
        <div class="w-full p-2 sm:w-1/2">
          <div class="flex items-center h-full p-4 bg-gray-100 rounded">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                 class="flex-shrink-0 w-6 h-6 mr-4 text-indigo-500" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="font-medium title-font">Simple user management</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="text-gray-600 body-font">
    <div class="container flex flex-col items-center px-5 py-8 mx-auto sm:flex-row">
      <a class="flex items-center justify-center font-medium text-gray-900 title-font md:justify-start">
        <img src="assets/images/logo.svg" alt="Compito" width="60" height="60">
        <span class="ml-2 text-xl">Compito</span>
      </a>
      <p class="mt-4 text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0">© 2021
        Compito —
        <a href="https://twitter.com/AdiSreyaj" class="ml-1 text-gray-600" rel="noopener noreferrer"
           target="_blank">@adisreyaj</a>
      </p>

    </div>
  </footer>
  <a class="fixed bottom-4 right-4"
     href="https://www.producthunt.com/posts/compito?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-compito"
     target="_blank"><img
         src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=310371&theme=light"
         alt="Compito - An open-source project management app | Product Hunt" style="width: 250px; height: 54px;"
         width="250" height="54" /></a>
</main>